

/* -- index page -- */

body {
    margin:auto;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(left,  #000000 0%, #97744a 29%, #97744a 70%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(29%,#97744a), color-stop(70%,#97744a), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000000 0%,#97744a 29%,#97744a 70%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000000 0%,#97744a 29%,#97744a 70%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000000 0%,#97744a 29%,#97744a 70%,#000000 100%); /* IE10+ */
    background: linear-gradient(to right,  #000000 0%,#97744a 29%,#97744a 70%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5em;
                                                                                                                                                                                                                                                                                                                                                                                                               }
@font-face {
    font-family: "Permanent Marker";
    src:url(fonts/jesse/permanentmarker-webfont.ttf)
}
h1,
h2,
.contactus #main h3 {
    font-size: 2.5rem;
    font-family: "Permanent Marker", cursive;
    color:#6d9e31;
    text-shadow: 2px 2px black;
    display:inline;
}
#main.main p:first-letter,
#cafe_recommend dd:first-letter,
.menu-items dd:first-letter{
    font-size:3rem;
    font-family: "Permanent Marker", cursive;
    color:#98754b;
    text-shadow: 2px 2px #000;
}

header {
    background-image:url("images/jesse/Coffee.jpg");
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
}
.ecojavalogo {
    position: relative;
    top: 5%;
    left:85%;
    padding-right:8%;
    width:140px;
    display:inline-block;
}
.section_philo,
.section_recommend,
.section_ecofeed,
.section_stayupdated
#responsibility-title .title{
    border-bottom: 1px dotted black;
    margin-bottom:2%;
}

#cafe_recommend dt {
    font-size: 1.5em;
    font-weight: bold;
    text-align:center;
    overflow-wrap: break-word;
}
#cafe_recommend dd,
#cafe_recommend dt {
    margin:auto;
    padding-bottom:2%;
    -moz-column-count: 2;
    -moz-column-gap: px;
    -webkit-column-count: 2;
    -webkit-column-gap: px;
    column-count: 2;
    column-gap: px;
    overflow-wrap:break-word;
}
#cafe_recommend dd img {
    display:block;
    margin:auto;
}
.social-links {
    position: relative;
    top:-22%;
    z-index:101;
}
.social-links ul{
    list-style-type: none;
    float:right;
    margin-right: 7%;
}
.social-links li{
    display:inline;
}
.side-nav {
    width: 18%;
    float:left;
    display:block;
    background: white;
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
}
main {
    width: 60%;
    min-width:20%;
    position:relative;
    margin:auto;
    margin-top:8%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2% 2% 2% 2%;
    background-color: #fffffe;
}
#main a {
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5em;
}
.side-nav-content a:link,
.side-nav-content a:hover,
.side-nav-content a:active {
    text-decoration-color: #8fff23;
}
footer {
    font-family:Tahoma, Geneva, sans-serif;
    text-decoration:none;
    margin:auto;
    width:80%;
}
.footer-nav {
    width:60%;
    margin-left:30%;
}
footer h3 {
    text-align:center;
}
footer a,
footer ul,
.footer-location p {
    text-decoration:none;
    list-style-type: none;
    color:black;
    line-height: 1em;
}
.back-to-top {
    display: none;
}
.certification-bar {
    margin-left: 20%;
    padding:2%;
}
.certification-bar h3{
    display:none;
}
.certification-bar img{
    display:inline-block;
    border:1px solid white;
    box-shadow: 2px 2px 2px 2px white;
}
.fairtrade_cert,
.organic_cert,
.b_corp_cert,
.climatesmart_cert,
.kosher_cert {
    display:inline;
    margin:2%;
}
.copyright,
#switchform {
    text-align:center;
    clear:both;
}
.footer-menu,
.footer-moreinfo,
.footer-location {
    float:left;
    width:20%;
}
.footer h3,
.footer li {
    margin:auto;
}

/* main nav */
.main-nav {
    width:100%;
    height:60px;
    background-color:black;
    position:relative;
    top:4%;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    z-index: 100;
}
.main-nav ul {
    list-style-type: none;
     height: 100%;
}
.main-nav ul li {
    padding-left:4%;
    padding-right:4%;
    list-style-type: none;
    position:relative;
    float:left;
}
.main-nav a {
    text-decoration:none;
    display: inline-block;
}
.main-nav a:link,
.main-nav a:visited {
    height:50px;
    font-weight: bold;
    color: #6d9e31;;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.main-nav a:focus,
.main-nav a:hover,
.main-nav a:active {
    color: #415d1c;
}
.main-nav li ul {
    display:none;
}
.main-nav li ul li{
    float:left;
    width:180px;
    background-color: black;
}
.main-nav ul li:hover ul	{
    display:block;
    position: absolute;
    left:0;
}
.main-nav ul li:hover li ul li {
    float:left;
}
.main-nav ul li ul li {
    display:block;
}
.main-nav ul li ul li a {
    display:inline-block;

}
/* side nav */

.side-nav {
    width:100%;
}
.side-nav-content ul,
.coffeebeans-nav ul {
    list-style-type: none;
    width:100%;
}
.side-nav-content ul li,
.coffeebeans-nav ul li{
    width:100%
    display:inline-block;
}
.side-nav-content a,
.coffeebeans-nav a{
    text-transform: uppercase;
    height:50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
    color: #97744a;
    background-color: #FFFFFF;
    float:left;
    text-indent: 4%;
    width: 220px;
}
main img {
    border-radius: 50%;
    border: 2px solid grey;
}
label {
    text-decoration: none;
}
/* menu page */

.menu-items a {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    height: 50px;
    font-weight: bold;
    color: #6D9E31;
    font-size:1.5rem;
}
/* beverages page */

.menupage,
{
    font-family:'Montserrat', sans-serif;
}
.menu li{
    list-style-type: none;
}
.intro-title {
    clear:both;
    margin-top: 2%;
    border-bottom: 1px dotted black;
}
.side-nav a:hover,
.side-nav a:active {
    display:block;
    position:relative;
}
.menu li{
     -moz-column-count: 2;
     -moz-column-gap: px;
     -webkit-column-count: 2;
     -webkit-column-gap: px;
     column-count: 2;
     column-gap: px;
     overflow-wrap:break-word;
 }
.responsibility section{
    -moz-column-count: 2;
    -moz-column-gap: px;
    -webkit-column-count: 2;
    -webkit-column-gap: px;
    column-count: 2;
    column-gap: px;
}
.title p {
    clear:both;
}
.item dt {
    margin-bottom:3%;
    margin-top:3%;
    padding-bottom:3%;
    padding-top:3%;
}
.item dt,
.responsibility dt,{
    font-size: 1.5em;
    font-weight: bold;
    text-align:center;
    overflow-wrap: break-word;
}
.item dd {
    margin:auto;
    padding-bottom:2%;
}
.item dd img {
    display:block;
    margin:auto;
}
.item dd p {
    line-height: 1.1em;
}

.responsibility .main li{
    list-style-image:url("images/jesse/green.png");
}

.contactus #main form{
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:auto;
    min-width:20%;
    height:auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #415d1c;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.contactus #main input {
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    min-width:80%;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.contactus #main label{
    text-align:center;
}
.contactus #main textarea#comments {
    width:375px;
    height:150px;
}
.contactus #main textarea#comments {
    display:block;
}
textarea:focus, input:focus {
    border: 1px solid #09C;
}
.cafe-location {
    float:right;
}
.cafe-location img {
    position:relative;
    top:150%;
}
.email:focus{
    background-color:#415d1c;
}
.employment,
.google-map,
.cafe-hours {
    text-align:center;
    clear:both;
}
.table1{
    margin:auto;
}
.table1,
.table1 td,
.table1 th{
    border-style: groove;
    padding:10px;
}

.table1 caption{
    font-family:"Permanent Marker", cursive;
    font-size:1.5em;
}
.table1 thead {
    background-color: #8fff23;
}
.cafe-location {
    text-align:center;
    clear:both;
}
.cafe-location h4 {
    margin:auto;
    float:left;
    padding-top: 3%;
}
.cafe-location img {
    margin:auto;
    float:right;
    padding-top: 3%;
}
.comment_form p{
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5em;
    text-shadow: none;
    font-size: 1rem;
}
.ordersent h1 {
    text-align:center;
    clear:both;
}
.responsibility #main a {
    display:none;
}

@media screen and (max-width:700px) {
    h1,
    h2,
    h3 {
        font-size: 1.5rem;
    }
    .main-nav {
        height:200px;
    }
    body {
        font-size:0.8rem;
        line-height: 1em;
    }
    .ecojavalogo img {
        display:none;
    }
    img    {
        max-width:40px;
        max-height:40px;
    }
    .coffee-video {
        display:none;
    }
    .main-nav li ul li {
        visibility:hidden;
    }
    #main.main p:first-letter,
    #cafe_recommend dd:first-letter,
    .menu-items dd:first-letter {
        font-size:1rem;
        font-family: 'Montserrat', sans-serif;
        text-shadow:none;
        overflow-wrap:break-word;
    }
    .footer-nav,
    .footer-moreinfo,
    .footer-location {
        clear:both;
    }
    .social-links {
        position:absolute;
        z-index:103;


    }
}
