body {

    /* I put in a background color as a test of the CSS file. Please copy your CSS to here and erase this  background colour.   -- Keith. */
    background-color: lightgoldenrodyellow;
}

table, th, td {
    border: 1px solid black;
}